.print-format th {

	background-color: lightgray !important; /* th backgraound color */

}

.print-format td, .print-format th {

	padding: 2px 4px !important; /* reduce row height */

}



.print-format tr {

	height: 0 !important; /* reduce row height */

}



.print-format tr:last-child {

	font-weight: bold !important; /* make last row bold */

}


.print-format .ql-snow p {

	margin-top: 0px;

}
